<launch>
  <node pkg="nodelet" type="nodelet" name="manager"  args="manager" output="screen"> 
    <param name="num_worker_threads" value="20" />
  </node>
  
  <rosparam command="load" file="$(find thor_prefilter_controller)/config/test.yaml" />
  
  <node pkg="itia_controller_manager" type="controller_manager" name="controller_manager" output="screen"/> 

</launch>
